@import "tailwindcss";

@theme {
  --size-content: 1200px;

  --color-*: initial;
  --color-white: #faffff;
  --color-black: #010004;
  --color-primary: #e7ae17;
  --color-primary-light: #ffdf15;
  --color-blue: #202ff2;
  --color-blue-light: #a7ebfb;
}

html {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
