---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import { NAV_ITEMS } from "../data/index.js";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Alquiler de estudio fotográfico en Madrid | SYX Estudio</title>
  </head>
  <body>
    <NavBar navItems={NAV_ITEMS} />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
